<footer class="footer">
  <small>
    System Zarządzania Zleceniami Laboratorium Spektrometrii Mas, aplikację przygotował Paweł Świder
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
</footer>